a{
    list-style: none;
    text-decoration: none;
}


.header{
    background-color: white;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.25rem;
}

.logo{
    height: 40px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-right{
    display: flex;
    gap: 2.5rem;    
    align-items: center;
}

.nav-right li{
    display: flex;
    text-decoration: none;
}
.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}


.nav-center a, .nav-right a{
    font-size: 1.25rem;
}

.nav-center a:hover, .nav-right a:hover{
    color: rgb(146, 0, 146);
}

.hero-section{
    background: url(./images/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content{
   color: white;
   max-width: 360px;
   text-align: center;
}

.hero-content .hero-title{
    font-size: 1.87rem;
    margin-bottom: 0.5rem;
    margin: 0 0 0.5rem;
    font-weight: 400;
    line-height: 36px;
}

.hero-content .hero-subtitulo{
    font-size: 1.25rem;
    font-weight: 400;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid white;
    line-height: 23px;
}
.btn-filled{
    background-color: white;
    color: rgb(146, 0, 146);
}

.btn:hover{
    background-color: rgb(146, 0, 146);
    color: white;
    border-color: rgb(146, 0, 146);
}

.hero-buttons{
    display: flex;
    gap: 1rem;
}