a{
    list-style: none;
    text-decoration: none;
}

main{
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}


.header{
    background-color: white;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
}

.logo{
    height: 40px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-right{
    display: flex;
    gap: 2.5rem;    
    align-items: center;
}

.nav-right li{
    display: flex;
}
.nav-right img{
    height: 20px;
}

.nav-right a:hover img{
    opacity: 0.7;
}


.nav-center a, .nav-right a{
    font-size: 1.25rem;
}

.nav-center a:hover, .nav-right a:hover{
    color: rgb(146, 0, 146);
}

.hero-section{
    background: url(./images/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    border-radius: 20px;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content{
   color: white;
   max-width: 360px;
   text-align: center;
}

.hero-content .hero-title{
    font-size: 1.87rem;
    margin-bottom: 0.5rem;
    margin: 0 0 0.5rem;
    font-weight: 400;
    line-height: 36px;
}

.hero-content .hero-subtitulo{
    font-size: 1.25rem;
    font-weight: 400;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid white;
    line-height: 23px;
}
.btn-filled{
    background-color: white;
    color: rgb(146, 0, 146);
}

.btn:hover{
    background-color: rgb(146, 0, 146);
    color: white;
    border-color: rgb(146, 0, 146);
}

.hero-buttons{
    display: flex;
    gap: 1rem;
}

.categorias-section{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.categorias-card{
    position: relative;
    width: 317px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.categorias-nome{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.casual{
    background: url(./images/casual.jpg);
    background-size: cover;
}

.esporte{
    background: url(./images/esporte.jpg);
    background-size: cover;
}

.moderno{
    background: url(./images/moderno.jpg);
    background-size: cover;
}

.futurista{
    background: url(./images/futurista.jpg);
    background-size: cover;
}

.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.top1{
    grid-area: top1;
    background-image: url(./images/card_imagem.jpg);
}
.top2{
    grid-area: top2;
    background-image: url(./images/roxo-verde-grid.jpg);
}
.midL{
    grid-area: midL;
    background-image: url(./images/modelo.jpg);
}
.midR{
    grid-area: midR;
    background-image: url(./images/futurista-grid.jpg);
}
.bottomL{
    grid-area: bottomL;
    background-image: url(./images/preto-branco-grid.jpg);
}
.bottomR{
    grid-area: bottomR;
    background-image: url(./images/moderno-grid.jpg);
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 30px;
}

.top1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center ;
}

.card-title{
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.card-subtitle{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group{
    display: flex;
    gap: 10px;
}

/* footer.css */
.site-footer{
    background-color: #333333;
    color: #ffffff;
}

.footer-content{
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav ul{
    display: flex;
    gap: 1.25rem;
    list-style: none;
}

.footer-nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav strong{
    color: #EDEDED;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 400;
}

.footer-nav li a{
    color: #ffffff;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
}

.newsletter-form input{
    border-radius: 30px;
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.footer-social span{
    margin-bottom: 1rem;
    display: block;
}
.footer-social ul{
    display: flex;
    gap: 1.25rem;
    list-style: none;
}


.footer-social li a:hover img{
    opacity: 0.7;
}
